<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Entità</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<h1>Entit&agrave;</h1>
		<ul>
			<li><h2><a href="/persona/readAll">Persone</a></h2></li>
			<ul>
				<li><h2><a href="/pilota/readAll">Piloti</a></h2></li>
				<li><h2><a href="/soccorritore/readAll">Soccorritori</a></h2></li>
				<li><h2><a href="/medico/readAll">Medici</a></h2></li>
			</ul>
			<li><h2><a href="/sede/readAll">Sedi</a></h2></li>
			<li><h2><a href="/veicolo/readAll">Veicoli</a></h2></li>
		</ul>
		<h1>Relazioni</h1>
		<ul>
			<li><h2><a href="/persona/readAllResponsabili">Responsabili</a></h2></li>
			<li><h2><a href="/persona/readAllTurni">Turni</a></h2></li>
			<li><h2><a href="/veicolo/readAllMezzi">Mezzi</a></h2></li>
		</ul>
	</div>
</body>
</html>