<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Persona</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<a href="/persona/readAll"><h2>Persone</h2></a>
		<h2>Dettagli Persona</h2>
		<p th:text="${persona.id + ' ' + persona.nome + ' ' + persona.cognome}"></p>
		<form th:action="@{/persona/update}" th:object="${persona}" method="post">
			<table>
				<tr>
		    		<td><h2>Modifica Persona</h2></td>
		    	</tr>
		    	<tr>
		    		<td><input th:value="${persona.id}" name="id" type="hidden"/></td>
		    	<tr>
		    	</tr>
		    		<td><label>Nome:</label></td><td><input th:value="${nome}" name="nome" type="text" required/></td>
		    	</tr>
		    	<tr>
		    		<td><label>Cognome:</label></td><td><input th:value="${cognome}" name="cognome" type="text" required/></td>
		    	</tr>
		    </table>
		    <input type="submit" value="Modifica"/>
	  	</form>
	</div>
</body>
</html>